# Operating System Files
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment and secrets
.env
.env.local
*.pem

# Build output & caches
dist/
build/
.cache/
